@model IEnumerable<ParttyPlotSystem.Models.Plot>

@{
    ViewData["Title"] = "Userview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Book Now</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentPrice)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Image)*@
                    <img src="@Url.Content(item.Image)" width="200" />
                </td>
                <td>
                 
                    <a asp-action="Userview" asp-controller="Bookings" asp-route-id="@item.PId">Book Now</a> 
              
                </td>
            </tr>
        }
    </tbody>
</table>
